/**
*   Auteur      : William.L
*   Version     : 2.0
*   Date        : 22.04.2025
*   Description : Feuille de style pour toutes les pages du site lonfdrone.com        
**/

html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*Header*/

.header {
    overflow: hidden;
    background-color: #E0E0E0;
    position: sticky;
    top: 0;
}

.header-right {
    float: right;
    gap: 7px;
    display: flex;
    padding: 30px 0;
}

.header-right a {
    text-align: center;
    color: black;
    padding: 13px;
    text-decoration: none;
    font-size: 20px;
    transition-duration: 300ms;
}

.header a:hover {
    background-color: #d2d2d2;
    border-radius: 15px;
    transition-duration: 300ms;
}

.header a.active {
    background-color: #d2d2d2;
    border-radius: 15px;
}

.header img {
    width: 350px;
    margin-left: 0;
}

.header a.contact {
    background-color: black;
    color:white;
    border-radius: 15px;
    transition-duration: 300ms;
    border: 2px solid transparent;
    margin-right: 17px;
}

.header a.contact:hover  {
    background-color:white;
    color:black;
    border-radius: 15px;
    transition-duration: 300ms;
    border: 2px solid black;
}

.contact-active {
    background-color:white;
    color:black;
    border-radius: 15px;
    transition-duration: 300ms;
    border: 2px solid black;
    margin-right: 17px;
}

/* Menu burger pour les petits écrans */

.menuBurger {
    top: 0;
    height: 100%;
    width: 250px;
    position: fixed;
    right: -250px;
    background-color: #E0E0E0;
    padding-top: 60px;
    transition: right 0.5s ease;
}

.menuBurger a {
    padding: 10px 32px;
    display: block;
    text-decoration: none;
    font-size: 25px;
    color: black;
    transition-duration: 300ms;
}

.menuBurger a:hover {
    background-color: #d2d2d2;
    border-radius: 15px;
    transition-duration: 300ms;
}

.menuBurger ul {
    list-style-type: none;
    margin: none;
    padding: 0;
}

/* Position du menu burger ouvert */
.menuBurger.active {
    right: 0;
}

.buttonFermer {
    position: absolute;
    top: 20px;
    right: 0;
    font-size: 36px;
}

.faq , .mentionsLegales {

    h1 {
        color:black;
        font-size: 50px;
        text-align: center;
    }
    
    h2 {
        color:black;
        font-size: 28px;
        margin-left: 60px;
        margin-right: 60px;
        line-height: 40px;
    }
    
    h3 {
        color:black;
        font-size: 18px;
        text-align: center;
    }
    
    h4 {
        color:black;
        font-size: 28px;
        text-align: center;
    }

    p {
        margin-left: 60px;
        margin-right: 60px;
        color: gray;
        font-size: 20px;
        line-height: 40px;
    }

    .center {
        text-align: center;
    }

    .hebergeur p  {
        line-height: 18px;
    }

    a {
        color: black;
    }

    @media (max-width: 822px) {

        h1 {
            font-size: 35px;
        }
        
        h2 {
            font-size: 19px;
            margin-left: 20px;
            margin-right: 20px;
            line-height: 30px;
        }
        
        h3 {
            font-size: 15px;
        }
        
        h4 {
            font-size: 19px;
        }

        p {
            margin-left: 20px;
            margin-right: 20px;
            font-size: 20px;
            line-height: 35px;
        }

        .center {
            margin-left: 10px;
        }
    
    }

}

.auteurSite {

    h1.left {
        color:black;
        font-size: 50px;
        text-align: left;
        margin-left: 60px;
    }
    
    p.left {
        margin-left: 60px;
        color: gray;
        font-size: 23px;
        line-height: 40px;
    }

    .boxAuteur {
        display: block;
    }

    .auteur {
        display: flex;
        justify-content: space-around;
    }
    
    .avatar {
        background-color: white;
        border: 3px solid lightgray;
        border-radius: 40px;
        margin-right: 50px;
        height: 350px;
        width: 420px;
    }

    .avatar img {
        width: 350px;
    }
    
    .auteurInfos  {
        margin-left: 60px;
        margin-right: 30px;
        color: black;
        font-size: 18px;
        line-height: 40px;
    }

    @media (max-width: 1281px) {

        h1.left {
            font-size: 45px;
        }
        
        p.left {
            font-size: 21px;
        }

        .avatar {
            height: 280px;
        }
    
        .avatar img {
            width: 280px;
        }
        
        .auteurInfos  {
            font-size: 15px;
            line-height: 30px;
        }
    }

      @media (max-width: 990px) {

        h1.left {
            font-size: 50px;
        }
        
        p.left {
            font-size: 23px;
        }
    
        .avatar img {
            width: 250px;
        }
        
        .auteurInfos  {
            font-size: 18px;
            line-height: 40px;
        }

        .auteur {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .avatar {
            align-self: center;
            text-align: center;
            height: 250px;
            width: 250px;
        }
    } 

}

/*Footer*/

.footer {
    display: block;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
    background-color: #E0E0E0;
}

.liens {
    display: flex;
    justify-content: space-between;
}

.footer p {
    display: flex;
    justify-content: space-between;
    color: black;
    font-size: 16px;
    justify-content: center;
    text-align: center;
}

.colonneLiens {
    display: flex;
    align-items: flex-end;
    float: right;
    margin-left: 0;
}

.colonne ul {
    list-style-type: none;
    padding: 55px;
    line-height: 50px;
}

.colonne a {
    color: black;
    text-decoration: none;
}

.colonne a:hover {
    color: black;
    text-decoration: underline;
}

.reseauxSociaux a img {
    margin-left: 30px;
    width: 40px;
}

.footer img {
    width: 400px;
    margin-left: 0;
}

/* Cache le menu burger sur les écrans plus larges que 822px */
@media (min-width: 822px) {

    .menuBurger {
        display: none;
    }

    .burgerIcon {
        display: none;
    }
}

/*Footer responsive*/
@media only screen and (max-width: 1340px) {

    .colonne ul {
        list-style-type: none;
        padding: 22px;
        line-height: 50px;
    }

    .reseauxSociaux a img {
        margin-left: 30px;
        width: 32px;
    }
    
    .footer img {
        width: 350px;
        margin-left: 0;
    }

    .footer p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1024px) {

    .header img {
        width: 280px;
    }

    .header-right {
        padding: 26px 0;
    }
        
    .header-right a {
        padding: 9.5px;
        font-size: 16px;
    }
    
    .header a.contact:hover  {
        border: 2px solid black;
    }
    
    .contact-active {
        border: 2px solid black;
        margin-right: 17px;
    }

    .footer {
        display: block;
        justify-content: center;
    }

    .colonne ul {
        list-style-type: none;
        padding: 9px;
        line-height: 40px;
    }

    .colonne a {
        color: black;
        text-decoration: none;
        font-size: 14px;
    }

    .reseauxSociaux a img {
        margin-left: 16px;
        width: 25px;
    }
    
    .footer img {
        width: 240px;
        margin-left: 0;
    }

    .footer p {
        font-size: 13px;
    }
}

@media (max-width: 780px) {
    
    .footer {
        display: flex;
        justify-content: flex-start;
        overflow: hidden;
        background-color: #E0E0E0;
    }
    
    .liens {
        display: block;
        justify-content: block;
    }

    .colonneLiens {
        display: block;
        align-items: block;
        margin-left: 142px;
    }

    .footer p {
        display: flex;
        justify-content:flex-end;
        color: black;
        font-size: 13px;
        justify-content: center;
        text-align: left;
    }
}

/* Cache le header principal avec les liens pour les écrans plus petit que 822 px */
@media (max-width: 822px) {

    .header-right {
        display: none;
    }

    .burgerIcon img {
        width: 35px;
        float: right;
        display: flex;
        padding: 30px 0;
        margin-right: 40px;
    }
}

/* Code responsive pour les appareils mobiles */
@media only screen and (max-width: 822px) {

}